@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

body {
  background-color: #eee;
  height: 1000px;
  background-image: url(./img/body.jpg);
  -webkit-backdrop-filter: blur(3px) brightness(90%);
          backdrop-filter: blur(3px) brightness(90%);
  background-size: 100%;
}

#title {
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

#title h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 5px;
}

#title p {
  padding: 0px;
}

#news {
  width: 1500px;
  margin: 0 auto;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 70px 0;
  text-align: center;
}

#news .news-box {
  background: none;
  border: 1px solid #fff;
  height: 600px;
}

#news .news-box hr {
  border: 1px solid #eee;
  width: 50px;
  margin: 10px auto;
  height: 1px;
}

#news .news-box a {
  display: block;
  border: 1px solid #eee;
  margin: 45px auto;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #eee;
  width: 150px;
}

#news .news-box a:hover {
  color: #aaa;
}

#news .news-box .content {
  border: 1.5px solid none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 450px;
  width: 470px;
  margin: -20px auto;
}

#news .news-box .content:hover {
  display: block;
  background-image: url(./img/742742111.jpg);
  height: 450px;
  width: 470px;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: silder;
          animation-name: silder;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  position: relative;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes silder {
  0% {
    opacity: 0;
  }
  0% {
    bottom: -100px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes silder {
  0% {
    opacity: 0;
  }
  0% {
    bottom: -100px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    opacity: 1;
  }
}

#news .news-box .content:hover h1, #news .news-box .content:hover h2, #news .news-box .content:hover p {
  -webkit-animation-name: mymove;
          animation-name: mymove;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  position: relative;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  75% {
    top: -100px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mymove {
  0% {
    top: 0px;
  }
  75% {
    top: -100px;
  }
  100% {
    opacity: 0;
  }
}

.month {
  margin: 0 auto;
  border: 1px solid #eee;
  width: 120px;
  background: #eee;
  padding: 5px;
  margin-top: -30px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.month h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.month p {
  padding: 10px;
}

h2 {
  margin-top: 60px;
  padding-right: 10px;
}

p {
  padding: 30px;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */